<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 配置别名信息 -->
    <typeAliases>
        <package name="com.lcy.po"/>
    </typeAliases>

    <!-- 配置分页内容 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 使用mysql方言进行分页 -->
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>
</configuration>