<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcy.dao.BookDao">

    <!-- 按书名查询全部信息 -->
    <select id="queryBookByName" resultType="Book">
        select book.id,
        business.name as "businessName",
        book.number,
        book.count,
        book.name,
        book.author,
        book.press,
        book.impression,
        book.synopsis,
        book.price
        from book,business
        where book.name like '%${name}%'
        and book.businessId=business.id
    </select>

    <!-- 按作者查询全部信息 -->
    <select id="queryBookByAuthor" resultType="Book">
        select book.id,
        business.name as "businessName",
        book.number,
        book.count,
        book.name,
        book.author,
        book.press,
        book.impression,
        book.synopsis,
        book.price
        from book,business
        where author like '%${author}%'
        and book.businessId=business.id
    </select>

    <!-- 按出版社查询全部信息 -->
    <select id="queryBookByPress" resultType="Book">
        select book.id,
        business.name as "businessName",
        book.number,
        book.count,
        book.name,
        book.author,
        book.press,
        book.impression,
        book.synopsis,
        book.price
        from book,business
        where press like '%${press}%'
        and book.businessId=business.id
    </select>

    <!-- 按价格范围查询全部信息 -->
    <select id="queryBookByPrice" resultType="Book">
        select book.id,
        business.name as "businessName",
        book.number,
        book.count,
        book.name,
        book.author,
        book.press,
        book.impression,
        book.synopsis,
        book.price
        from book,business
        where price between #{priceMin} and #{priceMax}
        and book.businessId=business.id
    </select>

</mapper>
