<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcy.dao.OrderDao">
    <insert id="addShoppingCart" parameterType="Order">
        insert into bookstore.order (businessId,userId,bookId,bookName,price,state) values (#{businessId},#{userId},#{bookId},#{bookName},#{price},'待购买')
    </insert>

    <delete id="deleteShoppingCart">
        delete from bookstore.order where id = #{id}
    </delete>

    <insert id="addBuy" parameterType="Order">
        insert into bookstore.order (businessId,userId,bookId,bookName,price,state) values (#{businessId},#{userId},#{bookId},#{bookName},#{price}, '待付款')
    </insert>

    <update id="shoppingCartToBuy">
        update bookstore.order set state = '待付款' where id = #{id}
    </update>

    <update id="pay">
        update bookstore.order set state = '待发货' where id = #{id}
    </update>

    <update id="sendGoods">
        update bookstore.order set state = '待收货' where id = #{id}
    </update>

    <select id="queryBookId" resultType="int">
        select bookId from bookstore.order where id = #{id}
    </select>

    <update id="receive">
        update bookstore.order set state = '待评论' where id = #{id}
    </update>

    <update id="comment">
        update bookstore.order set state = '已评论' where id = #{id}
    </update>

    <select id="queryOrder" resultType="Order">
        select bookstore.order.id,
        bookstore.order.businessId,
        business.name as "businessName",
        bookstore.order.bookName,
        bookstore.order.price
        from bookstore.order,business
        where bookstore.order.userId = #{userId}
        and bookstore.order.businessId = business.id
        and bookstore.order.state = #{state}
    </select>

    <select id="businessQueryOrderAll" resultType="Order">
        select bookstore.order.id,
        bookstore.user.name as "userName",
        bookstore.order.bookName,
        bookstore.order.state,
        bookstore.order.price
        from bookstore.order,bookstore.user
        where bookstore.order.businessId = #{businessId}
        and bookstore.order.userId = bookstore.user.id
        and state != '待购买'
    </select>

    <select id="businessQueryOrder" resultType="Order">
        select bookstore.order.id,
        bookstore.user.name as "userName",
        bookstore.order.bookName,
        bookstore.order.price
        from bookstore.order,bookstore.user
        where bookstore.order.businessId = #{businessId}
        and bookstore.order.userId = bookstore.user.id
        and bookstore.order.state = #{state}
    </select>
</mapper>
